*.bak
*~
*.rej
*.orig
.*.sw?
/src/tags

# /subprojects
/subprojects/.wraplock
/subprojects/packagecache
/subprojects/googletest-*

/build
/debian/geeqie*
/debian/files
/geeqie-cppcheck-build-dir

# The files that are autocreated(!)
README.html
/po/POTFILES
/po/geeqie.pot

# Development tools (IDE, linters, etc) files
.vscode
meson.build.user
__pycache__
